.grandpa__btn{
    padding: 16px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    border-radius: 10px;
    margin: 14px 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
}
.grandpa__btn.grandpa__btn_primary{
    background-color: #4FBF87;
}
.grandpa__btn.grandpa__btn_secondary{
    background-color: #0964ee;
}