.input_field_wrapper {
  max-width: 366px;
  padding: 12px;
  background-color: var(--secondary__color);
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #595959;
  margin: 10px 0;
  user-select: none;
  display: flex;
  align-items: center;
}
.input_field {
  color: var(--text__color);
  outline: none;
  border: 0;
  border-radius: 0px;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.input_field_wrapper.input_field__disabled {
  background-color: var(--background__color);
}
