.grandpa__checkbox_wrapper{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}
.grandpa__checkbox{
    background-color: #fff;
    width: 100%;
    color: #000;
}