body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.grandpa__header {
  margin-bottom: 20px;
}
.grandpa__header img {
  width: 200px;
}
.grandpa__wrapper {
  padding: 30px 40px;
}
.grandpa__content_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.grandpa__main_content_wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 70%;
  border: 15px solid #262626;
  background: #262626;
  background-image: url("../../assets/images/background.png");
  background-position: center left;
  min-height: 450px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grandpa__faq_wrapper {
  width: 30%;
  padding: 0 20px 20px;
}

@media screen and (max-width: 680px) {
  .grandpa__wrapper {
    padding: 0px;
  }
  .grandpa__header {
    padding: 30px 0 0 30px;
}
  .grandpa__content_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .grandpa__faq_wrapper,
  .grandpa__main_content_wrapper {
    width: 100%;
    margin: 10px 0px;
  }
  .grandpa__faq_wrapper {
    padding: 0 10px 20px;
  }
}


/*==== REMOVE THIS AFTER DELETING LINKS==== */
.grandpa__link__wrapper a{
  color: #fff;
  text-decoration: none;
  user-select: none;
}
.grandpa__link__wrapper a:hover{
  color: #4FBF87;
}