.grandpa__faq_card{
    border-radius: 10px;
    margin-bottom: 10px;

}
.grandpa__faq_card.grandpa__card_open{
    background-color: #262626;
}
.grandpa__faq_card.grandpa__card_close{
    border: 1px solid #262626;
}
.grandpa__faq_card_header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    cursor: pointer;
}
.grandpa__faq_card_header svg{
    color: #4FBF87;
}

.grandpa__faq_card_header h4{
    margin: 0;  
}

.grandpa__faq_card_content{
    padding: 10px 20px;
    border-top: 1px solid #595959;
}