.dashboard_page_wrapper {
  padding: 40px 70px;
}

.grandpa__dashboard_wrapper {
  display: flex;
}
.mobile_menu,
.menu__wrapper,
.selected_menu_item_wrapper {
  background-color: var(--background__color);
  border-radius: 20px;
  min-height: 500px;
  box-sizing: border-box;
}
.mobile_menu,
.menu__wrapper {
  min-width: 260px;
  margin-right: 10px;
}
.menu__wrapper.mobile_menu {
  z-index: 22;
}
.selected_menu_item_wrapper {
  width: 100%;
  padding: 32px;
}
.selected_menu_item_title h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
.gpa__dashbaord_selected_item_display_wrapper {
  width: 100%;
  height: 100%;
}
.mobile_menu_wrapper{
  display: none;
  width: 100%;
}
.mobile_menu_toggle_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: all .6s ease-in-out;
  padding: 0 10px;
  width: 100%;
  color: #fff;
}

.toggle_icon_wrapper svg{
  color: #fff;
  font-size: 36px;
}

@media screen and (max-width: 680px) {
  .menu__wrapper {
    display: none;
  }
  .mobile_menu_wrapper{
    display: block;
  }
  .dashboard_page_wrapper {
    padding: 0px;
  }
  .grandpa__dashboard_wrapper {
    padding: 0px 30px;
  }
  .grandpa__dashboard_wrapper {
    flex-direction: column;
  }
  .mobile_menu,
  .menu__wrapper {
    min-width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
