.user_transactions_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    height: 100%;
    box-sizing: border-box;
    color: var(--text__color);
  }
  .transactions_header_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
  }

  .transcations_actions_wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--tartiary__color);
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
  }

  @media screen and (max-width: 798px) {
      .transactions_header_wrapper{
          flex-direction: column;
      }
      .transcations_actions_wrapper{
          flex-direction: column;
          justify-content: center;
      }

  }
  
