.grandpa__transaction_status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grandpa__transaction{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grandpa__transaction.success{
    background-color: rgba(79, 191, 135, .1);

}
.grandpa__transaction.fail{
    background-color: rgba(245, 34, 45, .1);

}
.grandpa__transaction svg{
    font-size: 3.2rem;

}
.grandpa__transaction.success svg{
    color: #4FBF87;

}
.grandpa__transaction.fail svg{
    color: #F5222D;

}