::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #333334 0%,
    var(--secondary_color) 99%
  );
  border-radius: 100px;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 798px) {
  .pagination-bar{
    justify-content: flex-start;
  }

}

